@media only screen and (max-width: 850px) {

	.container-left {
   	 	display: none;
	}

	.container-right{
		float: left !important; 
		min-height: 100vh;
		width: 100% !important; 
		border-right-style: solid;
		border-right-width: 1px;
		background-color: white;
	}

	.container-connexion{
		float: left !important; 
		margin-top: 15px;
		width: 100% !important; 
		text-align: left;
	}

	.mobile{
		display: block !important;
	}

	.mobileProfile{
		display: block !important;
	}

	.ecranProfile{
		display: none !important;
	}

	.ecran{
		display: none !important;
	}

	.container-connexion {
    	margin-top: 0px !important;
	}

	.MainContent {
		width: 100% !important;
	    margin-left: 5px !important;
	    margin-right: 5px !important;
	    margin-bottom: 50px !important;
	}

	.buttonMobile{
		margin-top: 20px;
	    margin-bottom: 10px;
	    height: 20px;
	}

	.headerPoster{
		margin-bottom: 20px;
	    font-size: 18px;
	    font-weight: bold;
	}

	.pushable>.pusher {
    	background-color: #e9ebee !important;
	}

	.pushable {
	    min-height: 1000px !important;
	    background-color: #e9ebee !important;
	}


	.visibleCategorie {
	    margin-left: 10px;
	}

	.MobileCategorie{
		display: none !important;
	}

	.cacherCategorie{
		display: block !important;
	}

	.MobileSubmit{
		float: right !important;
	}

	.choixCat{
		font-size: 18px;
		font-weight: bold;
	}

	.containerSite {
   	 	background-color: #e9ebee !important;
	}

	.MainContentProfil {
    	margin-top: 55px !important;
    	margin-left: 10px !important;
    	margin-right: 10px !important;
    	margin-bottom: 70px !important;
	}

	.ChatContactLeft {
	    float: none;
	    width: 100%;
	    height: 100%;
	    margin-top: 0px !important;
	    overflow: auto; 
	    padding-right: 20px;
	    padding-left: 20px;
	    background-color: white !important;
	}

	.AffficheContact {
	    padding-bottom: 10px;
	    padding-top: 10px;
	}

	.mobileContact{
		font-weight: bold;
		color: black;
		font-size: 16px;
	}

	.MainContentChat {
	    margin-left: 0px !important;
	    margin-top: 0px !important;
	}

	.ContentDiscussion {
	 	padding-right: 0px !important;
	    width: 100% !important;
	}

	.valideChatForm {
	    position: fixed !important;
	    margin-left: 0px !important;
	    left: 0px !important;
	    width: 100% !important;
	    padding-right: 0px !important;
	}

	.ContentDiscussion {
    	padding-bottom: 300px !important;
	}

	.headerChat{
		height: 70px !important;
		padding-left: 10px !important;
	}

	.espaceNotif {
    	height: 0px !important;
	}

	.container-right{
		/*background-color: #3b5998 !important;*/
		background-color: #2185d0 !important;
    	background-image: linear-gradient(#1c3c84,#6c96f5 100%) !important;
		color: white;
	}

	.ui.checkbox input.hidden+label {
    	color: black !important;
	}

	.lireCGU a{
		color: white !important;
	}

	.MobileProfil{
		margin-right: 10px !important;
	}

	.MainModifierConseiller {
	    float: none !important;
	    min-width: 10px !important;
	}

	.voirPlus {
	    margin-right: 10px !important;
	}

	.contentReco{
		margin-top: 40px;
		margin-right: 10px;
	}

	.totalNotifMobile {
	    background-color: red;
	    width: 18px;
	    height: 20px;
	    color: white;
	    border-radius: 5px;
	    /* float: right; */
	    text-align: center;
	    /* margin-top: -25px; */
	    margin-left: -10px;
	    z-index: 100;
	    display: inline-block;
	    /* margin-bottom: 100px; */
	    position: relative;
	    top: -10px;
	}

	.valideChatForm{
   		margin-bottom: 45px !important; 
	}

	.HeaderLastConseiller{
		display: none;
	}

	.HeaderLastConseillerNuit{
		display: none;
	}

	.contactermobile{
		display: inline-block !important;
		margin-top: 0px;
		margin-right: 20px;
		color: red;
		cursor:pointer;
	}

	.contacterecran{
		display: none !important;
	}

}

@media only screen and (min-width: 1000px) {

	.MainContent {
    	float: left;
    	margin-left: 30px !important;
    	width: 750px !important;
	}

	.vidéos{
		/*display: block !important;*/
	    overflow: auto;
	    height: 1000px;
	    display: none !important;
	}

	.titreAmbre {
	    margin-top: 50px;
	    font-size: 16px;
	    font-weight: bold;
	    text-align: center;
	}
}
